<!DOCTYPE html>
<html>
<head>

    <body>

    <!-- meta tags and title -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<Title> Designing as Visual Organization </Title>

	<!-- external and internal CSS -->
	<link rel="stylesheet" href="styles.css" media="all">


    body

    p{
        font-family: "Times New Roman"
    }

.container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;
    background-color: white
}

.floating-column {
    flex: 1;
    min-width: 75%;
    max-width: calc(100% / 6);
}


.callout-box {
    background-color: white;
    padding: 5px;
    border: none; 
    border-radius: 8px;
    font-size: 24;

}




 </body>

</head>

</html>
 