<!DOCTYPE html>
<html>
<head>

	<!-- meta tags and title -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Designing as Visual Organization</title>

	<!-- external and internal CSS -->
	<link rel="stylesheet" href="styles.css" media="all">
	<style>
	
        <div class= contentBox1:{
           position: absolute;
           background-color:white
           padding: 10px;
           margin: 10px;
           width: 300px;
           height: 200px;
           overflow:hidden    
        } 
        </div>

        <div class= contentBox2:
        p {
            display block;
            top:100px;
            left: 30px;
            background-color:white
            float:left
            position:static
            width:30px;
            height: 200px;
            overflow:hidden    
        } 
        </div>

        <div class= contentBox3:
        p {
            display block;
            top:100px;
            left: 30px;
            background-color:white
            float:right
            position:static
            width:30px;
            height: 200px;
            overflow:hidden  
        } 

        <div class= contentBox4:
        p {
            display block;
            top:100px;
            left: 30px;
            background-color:white
            float:left
            position:static
            width:30px;
            height: 200px;
            overflow:hidden 
          } 

         <div class= contentBox5:
        p {
            display block;
            top:100px;
            left: 30px;
            background-color:white
            float:left
            position:static
            width:30px;
            height: 200px;
            overflow:hidden 
          } 
    </div>

    <div class= contentBox6:
        p {
            display block;
            top:100px;
            left: 30px;
            background-color:white
            float:left
            position:static
            width:30px;
            height: 200px;
            overflow:hidden 
          } 
          </div>

    </style>
    
    <!-- external and internal JavaScript -->
	<script src="scripts.js" defer></script>
	<script>
		// in-page JavaScript here
	</script>

</head>     
</body>
</html>